.footer_container{
    width: 100%;
    display: flex;
    background-color: #F3DDE1;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  
}
.footer_title{
    align-items: center;
    
}

.icon{
    width: 28px;
    height: 28px;
}

@media (max-width: 768px){
.footer_container{
    display: flex;
    flex-direction: column;
}

}